.aboutProject {
    padding: 3rem;
    font-size: 1.33em;
    width: 100%;
}

.project > .project-mainImg {
    padding: 0 0 5% 0;
}

.project > .project-mainImg > img {
    width: 100%;
}

.project-description > .image-container > img {
    width: 100%;
}

.project-description > .description-header {
    padding: 2% 0;
}
