* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-size: 20px;
}

html, body {
  width: 100%;
  height: 100%;
}

::selection {
  color: #fff;
  background: #6f42c1;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.head-brand {
  justify-content: center;
  display: flex;
}

.nameOfSite a {
  font-size: 3em;
}

.wrap {
  display: flex;
  min-height: 90%;
  justify-content: center;
}

.wrap_row {
  min-width: 95%;
}

.navbar-toggler {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  min-width: 70%;
}

.content {
  display: flex;
  min-height: 100%;
  margin-top: 1%;
}

.content>.container>.row {
  align-items: center;
  padding: 5% 0;
  justify-content: center;
}

.lstBooks {
  padding: 3rem;
}

.lstWorks{
  padding: 1.5em;
}

.aboutMe {
  font-size: 1.33em;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar img {
  width: 20rem;
  height: 20%;
  display: flex;
}

.avatarBio{
  float: left;
  width: 15rem;
  height: auto;
  display: flex;
  margin: 2% 10%;
}

.contacts{
  background: #aaa;
}

.shortBiography h2{
  display: flex;
  justify-content: center;
}

.row > .shortBiography{
  padding: 3% 0 1% 0;
}

.aboutMe h2, .lstWorks h2, .lstBooks h2 {
  width: 100%;
}

.lstWorks h2, .lstBooks h2 {
  display: flex;
  justify-content: center;
}

.lstWorks>.row {
  justify-content: space-around;
  margin-top: 2.5rem;
}

.lstWorks>.row>.card {
  width: 15rem;
}

.lstWorks>.row>.card img {
  width: 9rem;
  display: flex;
  align-self: center;
}

.books {
  padding-top: 3rem;
  display: flex;
  min-width: 100%;
  justify-content: space-around;
}

.books img {
  width: 15rem;
  height: 100%;
}

.containerProjects{
  min-width: 66%;
  padding: 2% 0;
}

.headline{
  display: flex;
  justify-content: center;
  margin: 3% 0 -5% 0;
}

.project{
  padding: 5% 0;
  min-width: 100%;
  justify-content: center;
}

.project:last-child{
  padding: 0;
 }

.headOfProject{
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.headOfProject img{
  width: 100%;
  height: 20%;
}

.nameOfProjectsImg{
  color: #fff;
  display: flex;
  padding: 1% 10%;
  /*font-size: 3rem;*/
  align-self: center;
  position: absolute;
  background: rgba(10, 10, 10, 0.5);
}

.bodyOfProject{
  min-width: 100%;
  flex-direction: column;
  display: flex;
}

.descriptionOfProject{
  display: flex;
  min-width: 100%;
}

.descritionBtn{
  display: flex;
  align-items: flex-end;
}

.containerBio{
  display: flex;
  flex-direction: column;
  min-width: 66%;
  background: darkgrey;
}

@media (max-width: 760px){
  .nameOfProjectsImg{
    font-size: 2rem;
  }
}

@media (max-width: 480px){
  .nameOfProjectsImg{
    font-size: 1rem;
  }
}

@media (max-width: 280px){
  .nameOfProjectsImg{
    font-size: 1rem;
  }
}

.progressContainer{
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
}

.progressElement{
  display: flex;
  padding: 5%;
  min-width: 50%;
  flex-direction: column;
}

.fas{
  font-size: 2rem;
}

.progressContainer > .container-fluid > .row > .col-12 h4{
  display: flex;
  justify-content: center;
}

.progressContainer > .container-fluid > .row h4{
  width: 100%;
  display: flex;
  justify-content: center;
}
